<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GoldenCoinChallan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="GoldenCoinChallan.Properties.Settings.AA_2023_2024ConnectionString"
            connectionString="Data Source=y4_max;Initial Catalog=AA_2023_2024;Persist Security Info=True;User ID=sa;Password=time@1Sa;Connection Timeout=1200"
            providerName="System.Data.SqlClient" />
	<!--<add name="GoldenCoinChallan.Properties.Settings.AA_2023_2024ConnectionString"
            connectionString="Data Source=hppnp;Initial Catalog=AA_2023_2024;Persist Security Info=True;User ID=sa;Password=time@1Sa;Connection Timeout=1200"
            providerName="System.Data.SqlClient" />-->
			<!--<add name="GoldenCoinChallan.Properties.Settings.AA_2023_2024ConnectionString"
            connectionString="Data Source=JPDell\SQLEXPRESS;Initial Catalog=AA_2023_2024;Persist Security Info=True;User ID=sa;Password=time@1Sa;Connection Timeout=1200"
            providerName="System.Data.SqlClient" />-->
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <applicationSettings>
        <GoldenCoinChallan.Properties.Settings>
            <setting name="ExportPathPDF" serializeAs="String">
                <value>\\officesn-pc\P_SSD\SHARED\retailChallans</value>
            </setting>
            <setting name="ExportPathXML" serializeAs="String">
                <value>\\officesn-pc\P_SSD\SHARED\retailChallans\TallyXML\</value>
            </setting>
        </GoldenCoinChallan.Properties.Settings>
    </applicationSettings>
</configuration>
