<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <!--<add name="GoldenCoinChallan.Properties.Settings.AA_2023_2024ConnectionString" connectionString="Data Source=y4_mAX\sqlexpress;Initial Catalog=AA_2023_2024;Persist Security Info=True;User ID=sa;Password=time@1Sa;Connection Timeout=1200" providerName="System.Data.SqlClient"/>-->
        <!--<add name="GoldenCoinChallan.Properties.Settings.AA_2023_2024ConnectionString" connectionString="Data Source=y4_max;Initial Catalog=AA_2023_2024;Persist Security Info=True;User ID=sa;Password=time@1Sa;Connection Timeout=1200" providerName="System.Data.SqlClient"/>-->
      <add name="GoldenCoinChallan.Properties.Settings.AA_2023_2024ConnectionString" connectionString="Data Source=jpdell\sqlexpress;Initial Catalog=AA_2023_2024;Persist Security Info=True;User ID=sa;Password=time@1Sa;Connection Timeout=3000" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
